# Copy example
# Run with:
# docker compose --env-file .env -f compose.yaml run --rm --build copy

COPY_DELETE=false
TZ=Asia/Shanghai

# Host path -> host path
SOURCE_MOUNT_TYPE=bind
SOURCE_MOUNT_SOURCE=/absolute/path/to/source
SOURCE_VOLUME_NAME=volguard-volume-copy-unused-source
SOURCE_VOLUME_EXTERNAL=false

TARGET_MOUNT_TYPE=bind
TARGET_MOUNT_SOURCE=/absolute/path/to/target
TARGET_VOLUME_NAME=volguard-volume-copy-unused-target
TARGET_VOLUME_EXTERNAL=false

# Switch source to a Docker named volume
# SOURCE_MOUNT_TYPE=volume
# SOURCE_MOUNT_SOURCE=source-volume
# SOURCE_VOLUME_NAME=your-existing-source-volume
# SOURCE_VOLUME_EXTERNAL=true

# Switch target to a Docker named volume
# TARGET_MOUNT_TYPE=volume
# TARGET_MOUNT_SOURCE=target-volume
# TARGET_VOLUME_NAME=your-target-volume
# TARGET_VOLUME_EXTERNAL=false
