PERIPHERY_CORE_ADDRESS={{ komodo_agent_core_address | string | trim }}
PERIPHERY_CONNECT_AS={{ komodo_agent_connect_as | string | trim }}
{% if komodo_agent_use_onboarding_key | default(false) | bool %}
PERIPHERY_ONBOARDING_KEY={{ komodo_agent_onboarding_key | string | trim }}
{% endif %}
PERIPHERY_CORE_PUBLIC_KEYS={{ komodo_agent_core_public_keys | string | trim }}
PERIPHERY_ROOT_DIRECTORY={{ komodo_agent_root | string | trim }}
PERIPHERY_SERVER_ENABLED=false
PERIPHERY_DISABLE_TERMINALS={{ komodo_agent_disable_terminals | bool | lower }}
PERIPHERY_DISABLE_CONTAINER_EXEC={{ komodo_agent_disable_container_exec | bool | lower }}
PERIPHERY_INCLUDE_DISK_MOUNTS={{ komodo_agent_include_disk_mounts | map('string') | join(',') }}
PERIPHERY_EXCLUDE_DISK_MOUNTS={{ komodo_agent_exclude_disk_mounts | map('string') | join(',') }}
{% for item in komodo_agent_extra_environment | dict2items %}
{{ item.key }}={{ item.value | string }}
{% endfor %}
